/*------- Susy Settings -------*/

$susy: (
  gutters: 1/7,
  global-box-sizing: border-box,
);

/*------- Font Variables -------*/

$sans-serif: 'Anivers', sans-serif;
$serif: 'Bitter', serif;
$small-caps: 'Anivers-SC', sans-serif;
/*------- Colors -------*/

$kinder-green: #b2c92d;
$kinder-red: #bb001b;
$kinder-gray: #807e82;

