.container {
  @include container(75em);
}

body {
  background-color: lighten($kinder-gray, 46%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#page.container {
  width: 96%;
  position:relative;
  background-color: white;
  //padding-top: 10px;
  flex: 1;
  .home & {
    background: none;
  }
}



article.page {
  margin: gutter(6);
}

.site-content {
  margin-bottom: 1.5em;
  @include clearfix;
}

.home .site-content {
  margin-bottom: 0;
}
