%container,
.container {
  @include container(60em);
}

#page.container {
  width: 96%;
  position:relative;
  background-color: white;
  padding-top: 10px;
  -webkit-box-shadow: 0 0 7px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 7px rgba(0,0,0,0.2);
  box-shadow: 0 0 7px 1px rgba(0,0,0,0.2);
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=145, Color='#CCCCCC');
}

body {
  background-color: lighten($kinder-gray, 46%);
}

article.page {
  margin: gutter(6);
}

.site-content {
  margin-bottom: 1.5em;
  @include clearfix;
}

.home .site-content {
  margin-bottom: 0;
}
