body,
button,
input,
select,
textarea {
	color: $kinder-gray;
	font-family: $sans-serif;
	@include font-size(1.6);
	line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
}


h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $serif;
	color: $kinder-red;
}

p {
	margin-bottom: .75em;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: white;
	@include font-size(1.5);
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	@include font-size(1.5);
}

abbr, acronym {
	border-bottom: 1px dotted red;
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

.page .entry-header .entry-title {
  @include font-size(2.8);
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.archive-title {
  @include font-size(2.4);
  float:left;
  margin-top: 15px;
  margin-bottom: 10px;
}

