.financial-graph {
  margin-bottom: 1em;
  h2 {
    display:block;
    @include span(8 of 12 last);
    text-align:center;
    @media (max-width: 600px) {
      @include font-size(1.6);
    }
    @include font-size(2);
  }
  img {
    max-width: 100%;
  }
}
