.single-gift .entry-title {
  @include font-size(2.8);
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  
  padding-left: gutter(4);
  
  @include breakpoint(720px) {
    padding-left: gutter(12);
  }
}

.single-gift .entry-content {
  
  @include font-size(1.4);
  padding: 0 gutter(4);
  margin-bottom: 1.5em;
 
  @include breakpoint(720px) {  
    @include span(6 of 12 last);
    padding-left: 0;
    padding-right: gutter(12);
    margin-bottom: 0;
  }
  
  @include breakpoint(768px) {
    @include span(5 of 12 last);
  }
  
  @include breakpoint(850px) {
    @include span(4 of 12 last);
    
  }
}

.single-gift .entry-slider,
.gift-callout {
 
  padding: 0 gutter(4);
 
  @include breakpoint(720px) {
    @include span(6 of 12);
    margin-right: gutter(12);
    padding-right: gutter(12);
    padding-left: gutter(12);
  }
  
  @include breakpoint(768px) {
    @include span(7 of 12);
  }
 
  @include breakpoint(850px) {
    @include span(8 of 12); 
  }
  img {
    width: 100%;
    display:block;
  }
}

.entry-slider .sy-caption-wrap .sy-caption {
  @include breakpoint(max-width 600px) {
    @include font-size(1.2);
  }
}

.sy-caption-wrap {
  right: 0;
  left: 0;
}

.single-gift {
  margin: gutter(12);
}

.organization-url {
  display:block;
  text-align: right;
  @include font-size(1.8);
  font-family: $serif;
  font-weight: bold;
}

.gift-callout {
  margin-top: .75em;
  margin-bottom: .75em;
  font-family: $serif;
  font-style: italic;
  @include font-size(1.8);
  text-align:left;
  @include breakpoint(600px) {
    @include font-size(2.2);
  }
  @include breakpoint(720px) {
    text-align: right;
  }
  @include breakpoint(768px) {
    @include font-size(2.6);
  }
  line-height: 1.6;
  color: darken($kinder-green, 2%);
  text-align: right;
  padding-left: span(1 of 12);
}
