.blog .content-area,
.single .content-area {
  padding: gutter(4) gutter(4) gutter(4) 0;
  @media (min-width: 720px) {
    @include span(8 of 12);
    padding-right: gutter(6);
  }
}

.blog .widget-area,
.single .widget-area {
  padding: gutter(4);
  @media (min-width: 720px) {
    padding-left: 0;
    padding-right: gutter(6);
    @include span(4 of 12 last);
  }
}

.post .entry-header {
  border-left: 5px solid $kinder-red;
  padding-left: gutter(4);
  @media (min-width: 720px) {
    padding-right: gutter(6);
  }
}

.post .entry-header {
  .post-categories {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {color: gray;}
      display: inline-block;
      font-family: $serif;
      text-transform: lowercase;
      letter-spacing: 1px;
      @include font-size(1.4);
    }
  }
  .entry-meta {
    color: $kinder-green;
    @include font-size(1.6);
    font-family: $small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    line-height: 1.2;
  }
  .entry-title {
    @include font-size(2.2);
    font-weight: bold;
  }

  .entry-organization {
    text-transform: lowercase;
    @include font-size(1.4);
  }
  .organization-label {
    font-family: $small-caps;
  }
  .entry-organization a {
    font-family: $serif;
  }
}

.post .entry-content {
  border-left: 5px solid white;
  padding-left: gutter(4);
  margin-top: 1em;
  margin-bottom: 2em;
  @include clearfix();
  @media (min-width: 720px) {
    padding-right: gutter(6);
    margin-top: 1em;
  }
}
