.blog .content-area,
.single .content-area {
  padding: gutter(4) gutter(4) gutter(4) 0;
  @media (min-width: 720px) {
    @include span(8 of 12);
    padding-right: gutter(6);
  }
}

.blog .widget-area,
.single .widget-area {
  padding: gutter(4);
  @media (min-width: 720px) {
    padding-left: 0;
    padding-right: gutter(6);
    @include span(4 of 12 last);
  }
}

.post .entry-header {
  border-left: 5px solid $kinder-red;
  padding-left: gutter(4);
  @media (min-width: 720px) {
    padding-right: gutter(6);
  }
  margin-bottom: 2em;
}

.post .entry-header {
  .post-categories {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {color: gray;}
      display: inline-block;
      font-family: $serif;
      text-transform: lowercase;
      letter-spacing: 1px;
      @include font-size(1.4);
    }
  }
  .entry-date {
    @include font-size(1.6);
    font-family: $small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    line-height: 1.2;
    background: $kinder-red; /* fallback */
    background: -webkit-linear-gradient(45deg, $kinder-red 7px, $kinder-red 7px),
                -webkit-linear-gradient(135deg, $kinder-red 7px, $kinder-red 7px),
                -webkit-linear-gradient(225deg, transparent 7px, $kinder-red 7px),
                -webkit-linear-gradient(315deg, $kinder-red 7px, $kinder-red 7px);
    background: -moz-linear-gradient(45deg, $kinder-red 7px, $kinder-red 7px),
                -moz-linear-gradient(135deg, $kinder-red 7px, $kinder-red 7px),
                -moz-linear-gradient(225deg, transparent 7px, $kinder-red 7px),
                -moz-linear-gradient(315deg, $kinder-red 7px, $kinder-red 7px);
    background: -o-linear-gradient(45deg, $kinder-red 7px, $kinder-red 7px),
                -o-linear-gradient(135deg, $kinder-red 7px, $kinder-red 7px),
                -o-linear-gradient(225deg, transparent 7px, $kinder-red 7px),
                -o-linear-gradient(315deg, $kinder-red 7px, $kinder-red 7px);
    background: linear-gradient(45deg, $kinder-red 7px, $kinder-red 7px),
                linear-gradient(135deg, $kinder-red 7px, $kinder-red 7px),
                linear-gradient(225deg, transparent 7px, $kinder-red 7px),
                linear-gradient(315deg, $kinder-red 7px, $kinder-red 7px);
    background-position: bottom left, top left, top right, bottom right;
    background-size: 52% 52%;
    background-repeat: no-repeat;
    color: white;
    padding: 10px 15px 7px;
    margin-bottom: 10px;
    display: inline-block;
  }
  .entry-title {
    @include font-size(2.2);
    font-weight: bold;
    margin-bottom: 7px;
    @media (min-width: 1000px) {
      @include font-size(3);
      line-height: 1.4;
    }
  }

  .single-blog & .entry-title {
    @media (min-width: 1000px) {
      @include font-size(3.6);
    }
  }

  .entry-organization {
    text-transform: lowercase;
    display: inline-block;
    @include font-size(1.4);
  }
  .organization-label {
    font-family: $small-caps;
  }
  .entry-organization a {
    font-family: $serif;
    display: inline-block;
    background-color: rgba($kinder-green, 0.25);
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 6px 10px;
    @include font-size(1.2);
  }
  .org-comma { display: none; }

}

.post .entry-content {
  border-left: 5px solid white;
  margin-left: gutter(4);
  margin-top: 1em;
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: rgba($kinder-gray, .15) 1px solid;
  h1, h2, h3, h4, h5, h6 {
    clear: none;
  }
  @include clearfix();
  @media (min-width: 720px) {
    margin-right: gutter(6);
    margin-top: 1em;
  }
}

.more-link {
  @include button;
  @include font-size(1.4);
  display: table;
  margin-right: auto;
  margin-top: 1.5em;
  &:hover {
    color: white;
  }
}
