.financial-tabs-wrapper {
  @include breakpoint(768px) {
    @include span(8 of 12 last);
  }
  > h2 {
    text-align:center;
    margin-bottom: 15px;
    @include font-size(2);
  }
}

.financials-table {
  @include span(12 of 12);
  @include breakpoint(500px) {
    @include font-size(1.6);
  }
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 0.5em;
  td {
    padding: 10px;
  }
  tr:nth-of-type(3) td.financials-amount {
    border-bottom: 3px solid $kinder-gray;
  }
  tr:nth-of-type(1n+4) td {
    font-weight: bold;
  }
  &.future {
    .financials-amount {
      font-style: italic;
    }
  }
  
}

.financials-amount {
  text-align:right;
}

.future-message {
  font-style: italic;
  display:block;
  text-align:right;
}

.financials-note, 
.future-message {
  @include font-size(1.4);
  margin-bottom: 10px;
}

h2.resp-accordion {
  font-family: $sans-serif;
  color: $kinder-gray;
}

ul.resp-tabs-list {
    margin: 0px;
    margin-top: -5px;
    padding: 5px 0;
    border-right: 1px solid lighten($kinder-gray, 42%);
}

.resp-tabs-list li {
    font-size: 13px;
    display: inline-block;
    //padding: 5px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    &.future {
      font-style: italic;
    }
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 0 15px 15px;
}

.resp-tab-active {
    //border: 1px solid #c1c1c1;
    border-bottom: none;
    //margin-bottom: -1px !important;
    font-weight: bold;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
}

h2.resp-accordion {
    font-size: 13px;
    //border: 1px solid #c1c1c1;
    //border-top: 0px solid #c1c1c1;
    margin: 0px 0 3px 0;
    padding: 10px 15px;
    background-color: lighten($kinder-gray, 47%);
    border-left: 5px solid lighten($kinder-gray, 35%);
}

h2.resp-tab-active {
    //border-bottom: 0px solid #c1c1c1 !important;
    //margin-bottom: 0px !important;
    margin: 0;
    padding: 10px 15px !important;
    border-left-color: $kinder-green;
    background-color: white;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: span(1 of 8);
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 3px 15px !important;
    margin: 0 0 2px 0;
    cursor: pointer;
    float: none;
    background-color: lighten($kinder-gray, 47%);
    border-left: 5px solid lighten($kinder-gray, 35%);
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    //border: 1px solid #c1c1c1;
    float: left;
    width: span(7 of 8);
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    //border: 1px solid #c1c1c1;
    border-right: none;
    border-left: 5px solid $kinder-green;
    font-weight:bold;
    background-color:white;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
//    background: #DBDBDB !important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    //border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    //border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    //border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 500px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
      display: block;
      @include font-size(1.6);

    }

    .resp-vtabs .resp-tab-content {
        border-left: 5px solid white;
    }
    
    .resp-vtabs .resp-tab-content-active {
      width: 100%;
      border-left: 5px solid $kinder-green;
      margin-bottom: 3px;
      > div {
        @include clearfix;
        width: 100%;
      }
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
      //  border-bottom: 1px solid #c1c1c1 !important;
    }
}
