.gift-grid {
  list-style: none;
  margin: 2.125%;
  padding: 0;
  @include clearfix;
  > li {
    overflow:hidden;
    display:block;
    margin-bottom: 2%;
    @media (min-width: 436px) {
      @include gallery(3 of 6);
    }
    @media (min-width: 768px) {
      @include gallery(4 of 12);
      margin-bottom: 1.25%;
    }
  }
}

.category-header {
  margin: 6% 2.125% 3.25%;
  h2 {
    @include font-size(5.6);
    font-weight: bold;
    line-height: 1.1;
    @media (min-width: 436px) and (max-width: 768px) {
      @include font-size(2.8);
    }
    @media (min-width: 768px) and (max-width: 850px) {
      @include font-size(3.2);
    }
  }
  h3 {
    color: $kinder-green;
    font-style: italic;
    margin-top: 15px;
    @media (min-width: 600px) {
      margin-right: 15px;
    }
  }
  h2, h3 {
    text-transform: lowercase;
    font-family: $serif;
    a { color: $kinder-green; }
  }
}

.grid-single-gift {
  position:relative;
  max-width: 100%;
  .caption {
    position:absolute;
    width: 100%;
    opacity: 1;
    bottom:0;
    transition: all 0.25s ease-in-out;
    background-color: $kinder-red;
    background-color: rgba($kinder-red, 0.75);
    z-index: 100;
    padding: 5% 7%;
    h3 {
      color: white;
      @include font-size(1.4);
      @media (min-width: 600px) {
        @include font-size(1.6);
      }
      @media (min-width: 1200px) {
        @include font-size(2);
      }
    }
  }
  img {
    width: 100%;
    display:block;
    transition: all 0.5s ease;
  }
}

.grid-single-gift:hover {
  img {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    transition: all 4.5s ease;
  }
  .caption {
    opacity: 1;

  }
}
