.main-navigation {
  @extend .container;
  background-color: rgba(white, 1);
  padding-top: 10px;
  @media (max-width: 599px) {
    position:relative;
  }
  > div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    @media (max-width: 871px) {
      @include font-size(1.4);
    }
    @media (max-width: 415px ) {
      @include font-size(1.3);
    }
    @media (min-width: 800px) {
      width: (1 / 2) * 100% - .75;
      float:right;
    }
    @media (min-width: 960px) {
      @include font-size(1.9);
    }
    > li {
      margin: 0;
      padding: 0;
      flex: 1 1;
      border-left: 5px solid white;
      overflow:visible;
      @media (min-width: 600px) {
        position:relative;
      }

      &:last-of-type {
        border-right: 5px solid white;
      }

      > a {
        @include button;
        display:block;
        @media (max-width: 410px) {
          padding-left: 10px;
          &:after {
            background-image: none;
          }
        }
        @media (min-width: 1000px) {
          padding-left: 28px;
        }
      }
      &.current-menu-item > a,
      &.current-menu-parent > a,
      &.current_page_parent > a,
      &.current-page-ancestor > a {
        background: $kinder-red;
        background: -webkit-linear-gradient(45deg, $kinder-red 7px, $kinder-red 7px),
      	            -webkit-linear-gradient(135deg, $kinder-red 7px, $kinder-red 7px),
      	            -webkit-linear-gradient(225deg, transparent 7px, $kinder-red 7px),
      	            -webkit-linear-gradient(315deg, $kinder-red 7px, $kinder-red 7px);
        background: -moz-linear-gradient(45deg, $kinder-red 7px, $kinder-red 7px),
      	            -moz-linear-gradient(135deg, $kinder-red 7px, $kinder-red 7px),
      	            -moz-linear-gradient(225deg, transparent 7px, $kinder-red 7px),
      	            -moz-linear-gradient(315deg, $kinder-red 7px, $kinder-red 7px);
        background: -o-linear-gradient(45deg, $kinder-red 7px, $kinder-red 7px),
      	            -o-linear-gradient(135deg, $kinder-red 7px, $kinder-red 7px),
      	            -o-linear-gradient(225deg, transparent 7px, $kinder-red 7px),
      	            -o-linear-gradient(315deg, $kinder-red 7px, $kinder-red 7px);
        background: linear-gradient(45deg, $kinder-red 7px, $kinder-red 7px),
      	            linear-gradient(135deg, $kinder-red 7px, $kinder-red 7px),
      	            linear-gradient(225deg, transparent 7px, $kinder-red 7px),
      	            linear-gradient(315deg, $kinder-red 7px, $kinder-red 7px);
        background-position: bottom left, bottom right, top right, top left;
      	background-size: 52% 52%;
      	background-repeat: no-repeat;
      }
    }
  }
}

.sub-menu {
  display: none;
  .current-menu-parent &,
  .current-menu-item &,
  .current-page-ancestor & {
    display: block;
  }
}

ul.sub-menu {
  list-style: none;
  margin: 2px 0 0 -3px;
  padding: 0;
  position: absolute;
  left: 0;
  border: 3px solid white;
  white-space: nowrap;
  background-color: $kinder-gray;
  font-size: 0;
  z-index: 110;
  li {
    background: $kinder-gray;
    &.current-menu-item,
    &.current-page-ancestor {
      background: $kinder-red;
    }
    display:inline-block;
    border-right: 3px solid white;
    padding: 6px 14px;
    @include font-size(1.2);
    @media (max-width: 420px) {
      @include font-size(1);
      padding: 6px;
    }
    @media (min-width: 960px) {
      @include font-size(1.4);
    }
    @media (min-width: 1200px) {
      @include font-size(1.6);
    }
    &:last-of-type { border-right: none;}
    &:hover {
      background: $kinder-red;
    }
  }
  font-family: $serif;
  text-transform: lowercase;
  a { color: white; }

  @media (max-width: 599px) {
    width: 100%;
    margin-left: 0;
    li:first-child:nth-last-child(3),
    li:first-child:nth-last-child(3) ~ li {
      width: 33.333%;
      margin-right: 0;
    }
    li:first-child:nth-last-child(4),
    li:first-child:nth-last-child(4) ~ li {
      width: 25%;
      margin-right: 0;
    }
  }
}

.main-navigation > div > ul > li:nth-child(2) > ul.sub-menu {
  left: auto;
  right: -3px;
  @media (max-width: 599px) {
    right: 0;
  }
}

.site-header {
  border-top: 5px solid white;
  padding: 60px 0 20px;
  box-shadow: 0 5px 10px -5px rgba($kinder-gray, .5);
  z-index: 101;
  width: 100%;
  @media (min-width: 960px) {
    height: 18em;
  }
  @include clearfix;
  .home & {
    @media (min-width: 600px) {
      background: transparent;
      position: absolute;
    }
  }
}

.kinder-logo {
  display: none;
  @media (max-width: 600px) {
    margin: 0 span(1 of 12) 0 0;
    max-width: 100% - (span(1 of 12));
  }
  @media (min-width: 600px) {
    max-width: span(7 of 12);
  }
  @media (min-width: 800px) {
    max-width: span(6 of 12);
  }
  border-left: 5px solid $kinder-red;
  margin-left: -5px;
  float:left;
  img {
    max-width: 100%;
    display:block;
  }
}

.page-title {
  display: block;
  text-align: right;
  text-transform: lowercase;
  margin-right: 2em;
  margin-top: 1em;
  @media (min-width: 540px) {
    //margin-right: gutter(6);
  }

  @media (min-width: 600px) {
    //max-width: span(5 of 12) - gutter(6);
  }
  @media (min-width: 800px) {
    //max-width: span(6 of 12 last);
  }
  @media (min-width: 960px) {
    margin-top: 5em;
  }
  h1, h2 {
    color: white;
    text-shadow: 0 0 20px $kinder-gray;
  }
  h1 {
    @include font-size(3);
    font-weight: bold;
    letter-spacing: 1px;
    @media (min-width: 960px) {
      @include font-size(4.8);
    }
    @media (min-width: 1200px) {
      @include font-size(5.4);
    }
  }
  h2 {
    @include font-size(1.6);
    font-style:italic;
    padding-left: 15px;
    @media (min-width: 960px) {
      @include font-size(2.2);
      line-height: 1.1;
    }
    @media (min-width: 1200px) {
      @include font-size(2.4);
    }
  }
}

.home {
  .container {
    width: 100%;
  }
  .main-navigation {
    padding-bottom: 5px;
  }
}

.frontpage-logo {
  @media (max-width: 800px) {
    max-width: 70%;
    width: 500px;
    margin: 10px auto;
  }
  @media (min-width: 800px) {
    float: left;
    max-width: 50%;
    width: 350px;
    margin: 20px 20px 0 20px;
  }
  @media (min-width: 1100px) {
    width: 400px;
  }
  & + div {
    margin-top: 20px;
  }
}
